html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-color: #c7dcff;
    color: #333;
    font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
    color: #007bff; 
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        color: #0056b3; 
        text-decoration: underline;
    }

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

footer {
    background-color: #ffffff;
}
